[Unit]
Description=Radarr Daemon
After=syslog.target network.target
[Service]
User={{ radarr_user }}
Group={{ radarr_group }}
Type=simple

ExecStart={{ radarr_install_dir }}/Radarr/Radarr -nobrowser -data={{ radarr_data_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target